body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1718743256270-a4b769236fd3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    animation: pulse 4s infinite; /* Duração aumentada para 4 segundos */
}

.button:hover {
    background-color: #0056b3;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.9);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    }
}

.output {
    margin-top: 20px;
    font-size: 16px;
    white-space: pre-line;
}
